{%extends "base.html" %}

{% block main %}
	<h1>{{ title }}</h1>
	<div class="sample">
		{% for x in books %}
		
		<img src="{{ url_for('static', filename='images/'+x.img) }}" title="{{x.title}} de {{x.author}}" alt="couverture de {{x.title}}"/>
		{%endfor%}
	</div>
{% endblock %}
